@media screen and (max-width: 480px) {
	body {
		font-size: 12pt;
	}

	input {
		font-size: 12pt;
	}

	textarea {
		font-size: 12pt;
	}

}
body {
	margin: 0;
}

div.content {
	margin: 150px 8px 8px 8px;
}

@media screen and (max-width: 480px) {
input[type=button] {
	background: #bbb;
	border: 1px solid #999;
	padding: 8px;
}
}

textarea {
	width: 100%;
	max-width: 500px;
}
tbody.group_header tr td {
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid black;
}

.sections {
	background-color: #bbb;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.sections li {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding: 0.5em 1.5em;
	cursor: pointer;
	color: #444;
	text-shadow: #f7f7f7 0 1px 1px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #888;
}

.sections li:first-child {
	margin-left: 8px;
	border-radius: 7px 0 0 7px;
}

.sections li:last-child {
	border-radius: 0 7px 7px 0;
};

.sections li:hover {
	background-color: #ddd;
}

.sections .selected {
	background-color: #444 !important;
	color: white;
       text-shadow: none;
       border-right-color: #aaa;
       border-left: none;
       box-shadow: inset 1px 2px 6px #070707;
}

.people table {
	border-collapse: collapse;
	width: 100%;
	max-width: 600px;
}

.people td {
	border-right: 1px solid #ccc;
	white-space:pre;
}

.people td:last-child {
	width: 100%;
}

.people td:first-child {
	font-size: larger;
	color: #00aa00;
}

.people textarea {
	width: 100%;
}

.people tr {
	border-top: 1px solid #ccc;
}

.people tr:nth-child(even) {
	background: #ddd;
}

.people tr:nth-child(odd) {
	background: #fff;
}

.errorText {
	color: red;
}

div.header {
	background-image: url(bg-topbar.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100px;
	position: fixed;
	width: 100%;
	top: 0px;
}

.header > div {
	align-items: center;
	justify-content: left;
	margin: 4px;
	display: flex;
}

.header h1 {
	margin-left: 30px;
	height: 100%;
	width: 100%;
	color: #222244;
}

.mystatus {
	margin: 8px;
}
@media (max-width: 480px) {
	.desktop-only {
		display: none;	
	}
}

.person dl {
	float: left;
	margin: 1em;
	margin: 0;
	padding 5;
	border-bottom: 1px solid #999;
	width: 100%;
}

.person dt {
	clear: left;
       /*! float: left; */
	padding: 5px;
	 /*! width: 100px; */
	margin: 0;
	border-top: 1px solid #999;
	font-weight: bold;
}

.person dd {
	/* float: left; */
	margin: 0;
	padding: 5px;
	width: 300px;
       /*! border-top: 1px solid #999; */
}

