@media screen and (max-width: 480px) {
	body {
		font-size: 12pt;
	}

	input {
		font-size: 12pt;
	}

	textarea {
		font-size: 12pt;
	}

}
body {
	margin: 0;
}

div.content {
	margin: 0;
}

@media screen and (max-width: 480px) {
input[type=button] {
	background: #bbb;
	border: 1px solid #999;
	padding: 8px;
}
}

textarea {
	width: 100%;
	max-width: 500px;
}

.sections {
	position: sticky;
	background-color: #bbb;
	padding: 0;
	margin: 0;
	top: 0;
	list-style-type: none;
	z-index: 10;
	width: 100%
}

.fixed-header {
	position: fixed;
	width: 100%;
} 

.sections li {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding: 0.5em 1.5em;
	cursor: pointer;
	color: #444;
	text-shadow: #f7f7f7 0 1px 1px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #888;
}

.sections li:first-child {
	margin-left: 8px;
	border-radius: 7px 0 0 7px;
}

.sections li:last-child {
	border-radius: 0 7px 7px 0;
};

.sections li:hover {
	background-color: #ddd;
}

.sections .selected {
	background-color: #444 !important;
	color: white;
       text-shadow: none;
       border-right-color: #aaa;
       border-left: none;
       box-shadow: inset 1px 2px 6px #070707;
}

.errorText {
	color: red;
}

div.header {
	background-image: url(bg-topbar.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	padding: 8px;
	width: 100%;
	top: 0px;
}

.header > div {
	align-items: center;
	display: flex;
	padding: 8px;
}

.header h1 {
	margin-left: 30px;
	height: 100%;
	width: 100%;
	color: #222244;
}
.header img {
	margin: 8px 0 0 8px;
	height: 80px;

}

.mystatus {
	margin: 8px;
}
@media (max-width: 480px) {
	.desktop-only {
		display: none;	
	}
}

.person dl {
	float: left;
	margin: 1em;
	margin: 0;
	padding 5;
	border-bottom: 1px solid #999;
	width: 100%;
}

.person dt {
	clear: left;
       /*! float: left; */
	padding: 5px;
	 /*! width: 100px; */
	margin: 0;
	border-top: 1px solid #999;
	font-weight: bold;
}

.person dd {
	/* float: left; */
	margin: 0;
	padding: 5px;
	width: 300px;
       /*! order-top: 1px solid #999; */
}

table.people {
	  border-collapse: collapse;
	    width: 100%;
	      max-width: 1200;
}
table.people th, table.people td {
	  padding: .4em;
	  white-space: nowrap;
}
table.people > tbody.group_header > tr {
	  border: none;
}

table.people > tbody.group_header {
	background: #ccc;
}

table.people > tbody.group_header > tr td, table.people > tbody.group_header > tr th {
	  cursor: pointer;
	  white-space: unset;
}
table.people > tbody.group_header > tr td:first-child,
table.people > tbody.group_header > tr th:first-child {
	  position: relative;
	    padding-left: 20px;
}
table.people > tbody.group_header > tr td:first-child:before,
table.people > tbody.group_header > tr th:first-child:before {
	position: absolute;
	left: 5px;
	width: 9px;
	height: 16px;
	margin-top: -8px;
	font: 16px;
	color: #999;
	content: "\25b6";
	transition: all .3s ease;
}
table.people > tbody.group_header > tr:hover {
	  background: #aaa;
}
table.people > tbody.group_header.open {
	  background: #444;
	    color: white;
}
table.people > tbody.group_header.open tr > td:first-child:before {
	  transform: rotate(180deg);
	  transform-origin: 100% 50% 0;
	    color: #333;
}
table.people > tbody.fold {
	  display: none;
}
table.people > tbody.fold.open {
	  display: table-row-group;
}

.fold-content >
tr:nth-child(even) {
	  background: #ccc;
}

.fold-content td {
	  border-right: 1px solid #ccc;
}

.people td:last-child {
	  width: 100%;
	  white-space: pre;
}

.people td:first-child {
	  font-size: larger;
	    color: #00aa00;
}

Return time, regular schedule, notes.people textarea {
	  width: 100%;
}

.people tr {
	  border-top: 1px solid #ccc;
}

